{% extends 'manager/index.html' %}
{% block content %}
    <div class="container">
        <div class="card">
            <div class="card-header">


                {% for i in books %}
                    <p class="fw-bold fs-3">{{ i.title }}</p>
                    {% if user.is_authenticated %}
                        <form action="{% url 'add-comment' slug=i.slug book_id=i.id %}" method="post">
                        {% csrf_token %}
                        {{ form }}<br>
                        <input type="submit" value="Добавить комментарий" class="btn btn-info ">
                    {% endif %}
                </form>

                    </div>

                    {% if comment.count == 0 %}
                        Нет комментариев... Будь первый
                    {% endif %}
                    {% for q in comment %}

                        <div class="card-body">
                        <h5 class="card-title">{{ q.name }} {{ q.comment_date|date:"d-m-Y  H:i:s" }}</h5>
                        <p class="card-text">{{ q.text }}
                            <a href="{% url 'add-comment-like' id=q.id slug=i.slug %}"> <span
                                    class="badge bg-info text-dark">Likes: {{ q.likes_count }} </span> </a>
                        </p>
                    {% endfor %}
                </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}