{% extends 'manager/index.html' %}

{% block content %}


    {% for i in book %}
        <div class="container mt-2">
            <div class="card ">
                <div class="card-header">
                    {{ i.genre }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.text }}</p>

                </div>
                <div class="card-footer text-muted">
                    {% for q in range %}

                         {% if i.rate < q %}
                        <a href="{% url 'add-rating-location' slug=i.slug rating=q location=1 %}"><span class="fa fa-star"></span></a>
                            {% else %}
                        <a href="{% url 'add-rating-location' slug=i.slug rating=q location=1 %}"><span class="fa fa-star checked"></span></a>
                        {% endif %}
                        {% endfor %}



                    <div class="btn btn-success btn-sm">Рейтинг {{ i.rate }}</div>

                    <a href="{% url 'open-comment' slug=i.slug  %}" class="btn btn-success btn-sm">Комментарии {{ i.comment.count }}</a>


                    <p class="text-center fst-italic">{{ i.published|date:'d-m-Y H:i:s' }}- Издатель {{ i.shop }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}